body {
    font-size: 30px;
    
    background: linear-gradient(to left, rgba(186, 186, 186, 0.985), rgba(87, 80, 80, 0.874));
    font-family: "Verdana", sans-serif;
    color: white;
    
    /*background-repeat: repeat-x;*/
}

html, body {
    scroll-behavior: smooth
}
pre{
    font-family: "Verdana", sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #f5f5f5;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #8e8e91;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #8e8e91;
    color: white;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}


.onwebsite {
    background-color: #d8d8d8;
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
    cursor:pointer;
}



i.material-icons {
    z-index: -1;
    position:absolute;
    left:30px;
    top: 50px;
}



/* For Media website */





div.gallery img {
    width: 50%;
    height: auto;
}


.boxmedia{
    height: 40px;
    width: 330px;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 5px;
    color: black;
    margin: 25px 100px 0px 5px;
    padding: 30px;
    font-size: 18px;
    text-align: justify;
    
}

.boxmedia:hover{
    border-color: #000000;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}


div.mediadescription{
    position:absolute; 
    height: 60px;
    width: 600px;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 5px;
    color: black;
    margin: 70px 100px 0px 100px;
    padding: 30px;
    font-size: 25px;
    text-align: center;
}

div.mediadescription:hover{
    cursor: pointer;
}


/* For Contact website */
input[type=text], input[type=email]{
    width: 180px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-left: 20px;
}

input.description[type=text],input.email[type=email], input.namecontact[type=text] {
    width: 180px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    margin-left: 20px;
}

input.email[type=email] {
    width: 180px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    margin-left: 20px;
}


input.description[type=text]:focus {
    width: 63%;
}

input.namecontact[type=text]:focus {
    width: 20%;
}

input.email[type=email]:focus {
    width: 30%;
}


button.send {
    font-family: "Verdana", sans-serif;
    height: 50px;
    width: 180px;
    background-color: #ffffff;
    font-size: 30px;
    margin-left: 20px;
    border-radius: 5px;
}
button.send:hover {
    transform: scale(1.3);
    cursor: pointer;
}



.boxcontact{
    height: 20px;
    background-color: #000000;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin: 25px 100px 0px 10px;
    padding: 15px;
    font-size: 18px;
    text-align: left;
    
}

.boxcontact:hover .triangle-right {
	transition: 0.1s;
    width: 0;
	height: 0;
	border-top: 26px solid transparent;
	border-left: 30px solid #000000;
	border-bottom: 26px solid transparent;
    border-radius: 5px;
    cursor:default;
}

/* Experience */

button.PDFversion{
    font-family: "Verdana", sans-serif;
    height: 35px;
    width: 110px;
    background-color: #ffffff;
    font-size: 13px;
}

button.PDFversion:hover {
    transform: scale(1.1);
    cursor: pointer;
    border-color: orange;
}

div.title {
    height: auto;
    width: auto;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 5px;
    color: black;
    margin-top: 40px;
    padding: 10px;
    font-size: 16px;
}
div.content {
    height: auto;
    width: 100%;
    border: 1px solid #ffffff;
    background-color: #d8d8d8;
    border-radius: 5px;
    color: black;
}

img.clipped{
    border-radius: 20px;
    height: 100px;
    width: 250px;
}

img.imageCV {
    display: none;
    position:relative; 
    margin-left: 700px;

}

div.clipped{
    height: 100px;
    width: 140px;
}

div.imageCV {
    display: none;
    display: none;
    position:relative; 
    margin-left: 720px;
    margin-top: 50px;
    background-color:white;
    border-radius: 20px;
    margin-right: 10px;
    padding: 10px;
}

div.titleCV {
    color:black;
    font-size: 22px;
    font-weight: bold;
    padding: 3px;
}

li {
    color: black;
    font-size: 17px;
    font-family: inherit;
    margin-right: 10px;
    font-weight: 200;

}

div.grouptitle:hover div.title, div.grouptitle:hover img.clipped{
    border: solid;
    border-color: #000000;
    cursor: pointer;
}

img.arrow1 {
    animation-name: animatearrows;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: forwards; 
    position: relative;
    z-index: -2;
}


@keyframes animatearrows{
    0%   {left:33px; top:300px;}
    /* 25%  {left:200px; top:0px;} */
    /* 50%  {left:100px; top:-50px;} */
    /* 75%  {left:0px; top:200px;} */
    100% {left:33px; top:-1500px;}
    
}

/* Skills */

div.skillsbox{
    height: 30px;
    width: 250px;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 5px;
    color: black;
    margin: 70px 100px 0px 100px;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    
}

div.skillsbox:hover{
    border-color: #000000;
    cursor: pointer;
    scale: 1.1;
    transition: 0.2s;
}

div.imageskills{
    display: none;
    position: absolute;
    top: 100px;
    left: 270px;
    background-color: white;
    border-radius: 20px;
    height: 350px;
    width: 900px;
    padding:20px;
}

div.clippedskills{
    height: 100px;
    width: 140px;
}

img.PDFversion{
    width:45px;
    height:55px;
}

/* About me */

.aboutmebox{
    height: 30px;
    width: 250px;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 5px;
    color: black;
    padding: 10px;
    font-size: 22px;
    /* text-align: center; */
    transition: transform 1s;
    margin: 0 auto;
    
    
}

.aboutmebox:hover{
    border-color: #000000;
    cursor: pointer;
    width: auto;
    height: auto;
    transform: scale(1.1); 
    position: absolute; 
    z-index: 1000;

}

.hiddentext{
    display: none;
    color: black;
    font-size: 15px;

}
.titleaboutmechildline {
    transition: transform 0.2s;
}
.titleaboutmechild1 {
    transition: transform 0.2s;
}
.titleaboutmechild2 {
    transition: transform 0.2s;
}

.titleaboutmeparent:hover .titleaboutmechildline { 
    transform: rotate(-90deg); 
    position: relative;
    top: 40px;
    left:-50px;
    
}

.titleaboutmeparent:hover .titleaboutmechild1 { 
    transform: rotate(-90deg);
    position: relative;
    top: -90px;
    left: 420px;
    

}

.titleaboutmeparent:hover .titleaboutmechild2 { 
    transform: rotate(-90deg);
    position: relative;
    top: 220px;
    left: 10px;
}

/* Intro */

.introbox{
    height: 50px;
    width: 400px;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 5px;
    color: black;
    margin: 20px 50px 0px 30px;
    padding: 20px 20px 20px 20px;
    font-size: 25px;
    text-align: left;
    
}

.introbox:hover{
    border-color: #000000;
    cursor: pointer;
    scale: 1.1;
    transition: 0.2s;
}


.welcome{
    position:absolute;
    top: 120px;
    left: 530px;
    height: 200px;
    width: 700px;
    font-size: 25px;
    text-align: center;
    
}